//全域設定
*, *::before, *::after{
	box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-family: 'Noto Sans TC','Lato','Roboto', sans-serif, serif;
}

img{
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}
a{
    text-decoration: none;
}