
//字體大小
$font-s-12: 12px;
$font-s-14: 14px;
$font-s-16: 16px;
$font-s-20: 20px;
$font-s-24: 24px;

//color
$dark-gray:#6C757D;
$dark-green:#198754;
$lightBlue-bg:#F8F9FA;
$border-gray:#00000062;
$light-green:#a5eaca;

$sidebar-width:296px;

